.items {
    display: flex;
    flex-wrap: wrap;
    font: 13px/22px Helvetica, Arial, sans-serif;
    margin-left: -10px;
    margin-top: -10px;
}

.items .item {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #E0DDE0;
    border-radius: 10px;
    box-shadow: 3px 3px 7px #777;
    box-sizing: border-box;
    color: #171e42;
    flex: 1 0 300px;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
}

.items .item:hover { background: rgb(187, 180, 180); }
/* unvisited link */

a:link {
    color: green;
    text-decoration: none;
}

/* visited link */

a:visited { color: green; }

/* mouse over link */

a:hover { color: red; }

/* selected link */

a:active { color: yellow; }


#overlayedFrameFooter {
    bottom: 1px;
    position: absolute;
    text-align: center;
}