<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/main.css")" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="items">
        @RenderBody()
    </div>
</body>

</html>
