.items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-top: -10px;
    font: 13px/22px Helvetica, Arial, sans-serif;
}

    .items .item {
        flex: 1 0 300px;
        box-sizing: border-box;
        background: #E0DDE0;
        color: #171e42;
        padding: 10px;
        margin-left: 10px;
        margin-top: 10px;
        font-size: 12px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        box-shadow: 3px 3px 7px #777;
    }

        .items .item:hover {
            background: rgb(187, 180, 180);
        }
/* unvisited link */
a:link {
    color: green;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: yellow;
}
