.items {
    display: flex;
    flex-wrap: wrap;
    font: 13px/22px Helvetica, Arial, sans-serif;
    margin-left: -10px;
}

    .items .item {
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        box-shadow: 3px 3px 7px #777;
        box-sizing: border-box;
        color: #b2b2b2;
        flex: 1 0 300px;
        font-size: 12px;
        margin-left: 10px;
        margin-top: 10px;
        padding: 10px;
        background-color: #e7e7e7;
    }

        .items .item:hover {
            background: rgb(187, 180, 180);
            color: black;
        }
/* unvisited link */

a:link {
    color: rgb(182, 120, 49);
    text-decoration: none;
}

/* visited link */

a:visited {
    color: rgb(169, 168, 174);
}

/* mouse over link */

a:hover {
    color: rgb(160, 128, 128);
}

/* selected link */

a:active {
    color: yellow;
}


#overlayedFrameFooter {
    bottom: 1px;
    position: absolute;
    text-align: center;
}
